.home-style{
   
    position: absolute;
    margin-top: 140px;
    margin-left: 300px;
}
.sasa{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 30px;
    font-weight: 600;
    padding-left: 14px;
    color: darkblue;

}
img{
    border-radius: 144px;
    
}
